@tailwind base;

@font-face {
  font-family: "Poppins";
  font-weight: 500 900;
  src: url("../fonts/Poppins.woff2");
  font-display: swap;
  font-style: normal;
  font-stretch: 75% 125%;
}
/* 

.btn {
  @apply font-bold py-2 px-4 rounded !important;
}

*/

.btn_sm {
  font-weight: 400 !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
  border-radius: 0.25rem !important;
  background: #225ba9;
  color: white;
}
.btn {
  font-weight: 700 !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  border-radius: 0.25rem !important;
  background: #225ba9;
  color: white;
}
